*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    margin: auto;
    padding:  0px 120px;
}
.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 310px;
}
.nav li a{
    list-style-type: none;
    cursor: pointer;
    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #393939;
    text-decoration: none;
}
.nav li a:hover {
    color: blue;
}
.nav li{
    list-style-type: none;
    cursor: pointer;
    margin-right: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #393939;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}
.hero{
    display: 8flex;
    width: 80%;
    margin: auto;
    margin-top: 90px;
    justify-content: space-around;
    margin-bottom: 60px;
}
.container {
    display: flex;
}
.item{
    width: 50%;
}
.item1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./images/Ellipse7.svg);
}
.profile{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #0075FF;
    padding: 0px 10px 0px 10px;
}
.item1 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    color: #393939;
    margin-bottom: 20px;
}
.item1 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    color: #838383;
    margin-bottom: 20px;
}
.item2 img{
    width:400px;
    margin-top: 100px;
}
.dashboard{
    width: 80%;
    margin: auto;
}
.crypto {
    display: flex;
    width: 65%;
    margin: auto;
    margin-top: 70px;
    justify-content:space-between;
    margin-bottom: 60px;
}
.item3 img{
    width:400px;
    margin-top: 0px;
}
.profile1 img{
    width: 470px;
    margin-left: -40px;
}
.profile2{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}
.profile2 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 34px;
    color: #838383;
    padding-left: 34px;
}
.profile2 img {
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 34px;
}
.crypto-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align:left;
    justify-content: space-between;
    color: #393939;
    margin-bottom: 10px;
    margin-left: 34px;
}
.crypto-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    justify-content: space-between;
    line-height: 34px;
    color: #838383;
}
.text1 h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    margin-top: 150px;
    color: #393939;
}
.text1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #838383;
}
.box {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 70px;   
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}
.article div{
    width: 250px;
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.5);
    border-radius: 42px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.article div h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: #393939;
}
.article div p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #727171;
    width: 200px;
    padding: 0 auto;
}
.security{
    width: 80%;
    margin: 10%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 auto;
}
.sec_img img{
    width: 400px;
    margin-right: 100px;
}
.image13 img {
    width: 40px;
    margin-left: -5px;
}
.sec_text h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    color: #393939;
    text-align: left;
    margin-bottom: 24px;
}
.sec_text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    color: #838383;
    text-align: left;
}
.sec_img1 {
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    margin: 20px;
    margin-left: 2px;
}
.sec_img1 img{
    width: 30px;
}
.sec_img1 p{
    padding-top: 0;
    padding-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #838383;
}
.subtext{
    display: flex;
    justify-content:left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    color: #393939;
}
.trust {
    width: 80%;
    margin: 10%;
    display: flex;
    flex-direction:row;
    margin-bottom: 5px;
}
.trusted-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #393939;
    text-align: left;
}
.trust_img {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 629px;
}
.trust_img1 {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 10px;
}
.vector4 {
    display: flex;
    flex-direction: column;
    margin: 32px;
    margin-left: -115px;
}
.vector5 {
    display: flex;
    flex-direction: column;
    margin: 32px;
    margin-left: 33px;
}
.review {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.review1 {
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-shadow: 0px 12px 30px rgba(196, 196, 196, 0.3);
    border-radius: 32px;
    width: 540px;
    height: 334px;
    margin-right: 20px;  
}
.review2 {
    background: #FFFFFF;
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-shadow: 0px 12px 30px rgba(196, 196, 196, 0.3);
    border-radius: 32px;
    width: 540px;
    height: 334px;  
}
.review1 img {
    display: flex;
    flex-direction: column;
    margin-left: 440px;
    margin-top: 15px;
}
.review1 div img {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.review1 div h5 {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    color: #393939;
}
.review1 div h6 {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #808080;
}
.review1 div p {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #838383;
}
.review2 img {
    display: flex;
    flex-direction: column;
    margin-left: 440px;
    margin-top: 15px;
}
.review2 div img {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.review2 div h5 {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    color: #393939;
}
.review2 div h6 {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #808080;
}
.review2 div p {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #838383;
}
.story {
    background: linear-gradient(105.28deg, rgba(0, 117, 255, 0.245) 10%, rgba(196, 196, 196, 0.125) 29.21%, rgba(196, 196, 196, 0.125) 62.45%);
    filter: blur(0.5px);
    border-radius: 30px;
    display: flex;
    width: 80%;
    margin-left: 120px;
    margin-top: 100px;
    
}
.earn h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 56px;
    color: #393939;
    margin-left: 50px;
    margin-top: 60px;
}
.earn p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    color: #838383;
    margin-left: 50px;
    margin-top: 10px;
}
.earn img {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 150px;
}
.timeline {
    width: 40%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
    margin-top: 20px;
    margin-left: 100px;
}
.first{
    display: flex;
    flex-direction: column;
    background: #0075FF;
    border-radius: 20px;
    width: 350px;
    height: 130px;
    color: white;
    padding: 20px 30px;
    margin-bottom: 30px;
    margin-top: 80px;
}
.first p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 13px;
    color: #FFFFFF;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 396px;
}
.second p{
    width: 100px;
    height: 50px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 24px;
    text-align: center;
    padding-top: 15px;
    margin-right: 15px;
    margin-left: 20px;    
}
.third{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 396px;
    margin-top: 30px;
    margin-left: 30px;
    height: 100px;
}
.third p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    color: #393939;
}
.three{
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.three p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #393939;
}
.thirdly{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.thirdly p{
    width: 55px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    margin-right: 15px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 24px;
}
.footer {
    background: #011B39;
    width: 100%;
    margin-top: 80px;
    padding: 40px ;
}
.subfoot{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
}
.foot{
    display: flex;
    color: #FFFFFF;
}
.footitem1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footitem1 h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
}
.footitem2{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.footitem2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footitem2 h5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}
.footitem1 p,.footitem2 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}
.media{
    display: flex;
    justify-content: space-around;
    margin-left: -20px;
}
@media screen and (max-width:768px) {
    header{
        border-bottom: 1px solid grey;
        width: 100%;
        padding: 0px 35px;
    }
    .logo {
        display: block;
    }
    .nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .hero{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .container{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .item{
        width: 100%;
    }
    .item1{
        justify-content: center;
    }
    .app img{
        display: none;
    }
    .item2{
        text-align: center;
    }
    .item2 img{
        width: 300px;
        padding-bottom: 40px;
        margin-left: -50px;
    }
    .hero-text{
        font-size: 35px;
        line-height: 30px;
    }
    .dashboard{
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .dashboard img{
        max-width: 400px;
    }
    .crypto{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .profile1{
        width: 100%;
        text-align: center;
    }
    .profile1 img{
        width: 300px;
    }
    .profile2{
        width: 100%;
        padding-bottom: 40px;
    }
    .profile2 h1{
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 35px;
        padding: 10px;
        line-height: 100%;
        font-weight: 700;
    }
    .profile2 p{
        text-align: center;
    }
    .text1{
        text-align: center;
        width: 80%;
        margin:auto;
    }
    .text1 h3{
        font-size: 30px;
        width: 50%;
        margin: auto;
        text-align: center;
        line-height: 90%;
    }
    .text1 p{
        width: 80%;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .box{
        width: 50%;
        margin: auto;
        flex-direction: column;
    }
    .article {
        width:400px;
        flex-direction: column;
    }
    .article div{
        margin-bottom: 20px;
    }
    .security {
        width:400px;
        flex-direction: column;
        align-content: center;
    }
    .sec_img{
        text-align: center;
    }
    .sec_img img {
        width: 200px;
        margin: auto;
    }
    .sec_text h1 {
        font-size: 30px;
        width: 60%;
        margin: auto;
        text-align: center;
        line-height: 90%;
        padding: 30px;
    }
    .sec_text p {
        font-size: 20px;
        text-align: center;
    }
    .trust {
        width: 80%;
    }
    .trusted-text h3 {
        width: 100%;
        text-align: center;
        margin-left: 60px;
    }
    .trust_img, .trust_img1, .vector4, .vector5 {
        display: none;
    }
    .review {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .review1 {
        flex-direction: column;
        width: 100%;
    }
    .review1 img {
        flex-direction: column;
        width: 5%;
        margin-left: 350px;
    }
    .review1 div img {
        flex-direction: column;
        width: 20%;
        margin-left: 50px;
    }
    .review2 {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .review2 img {
        flex-direction: column;
        width: 5%;
        margin-left: 350px;
    }
    .review2 div img {
        flex-direction: column;
        width: 20%;
        margin-left: 50px;
    }
    .subfoot{
        flex-direction: column-reverse;
        align-items: center;
    }
    .footitem1{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .media{
        width:80%;
        margin: auto;
        align-items: center;
    }
    .footitem2{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .footitem2 div{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .story {
        flex-direction: column;
        width: 80%;
        margin-left: 40px;
    }
    .earn{
        width: 80%;
    }
    .earn img {
        width:100%;
    }
    .timeline {
        width:80%;
        flex-direction: column;
        margin-left: 40px;
    }
    .first {
        width: 80%;
        align-items: flex-start;
    }
}